{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">
{% csrf_token %}
{% if latest_question_list %}
<div style="text-align: center; font-size: 30px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
</div>
{% else %}
<div style="text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
    <p>No polls are available.</p>
</div>
{% endif %}
